.DS_Store

system/core/*
system/database/*
system/fonts/*
system/libraries/*
system/.htaccess
system/index.html

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
user_guide/
system/language/
system/helpers/language_helper.php
system/helpers/inflector_helper.php
system/helpers/
public/assets/
public/css/style.css.map
